.error{
    color:#a94442
}
.my-ul>li>a:hover {
    border-color: #146e82;
}

.electrode {
    display: none;
}

.my-custom-class-for-label {
    width: 50px;
    height: 20px;
    border: 1px solid #eb3a44;
    border-radius: 5px;
    background: #fee1d7;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #eb3a44;
}

.my-ul>li>a:hover,
.my-ul>li>a:focus {
    text-decoration: none;
    background-color: #005669;
    border-radius: 0 !important;
}

.map-card {
    max-height: 210px;
}

.my-ul a {
    color: #fff;
}

.my-ul .active>a {
    border-radius: 0 !important;
    border: none !important;
}

.my-ul {
    border-bottom: transparent !important;
}

.my-ul li .label-main,
.custom-side-tab li .label-main {
    display: inline-block;
}

.my-ul li .custom-badge {
    display: inline-block;
}

form label {
    letter-spacing: 1px;
}

.grid-view td {
    white-space: nowrap;
}

.img-logo {
    max-width: 140px;
    max-height: 83px;
}

.pjax-loader {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 111;
    text-align: center;
    color: #fff;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    width: 13%;
}

.color-d {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 10px;
    border: 1px solid #000;
}

span.map-lable {
    font-size: 10px;
    font-weight: 700;
}

.pickadate {
    background: #fff !important;
}

.spin-content {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 52px;
}

form div.required label.control-label:after {
    content: " * ";
    color: red;
}

.bg .header {
    background: #146c80;
    color: #fff;
    padding-left: 0;
    padding-bottom: 15px;
}

select.form-control {
    height: 34px !important;
}

.bg {
    padding: 0px 15px;
}

.content .card {
    margin: 0 !important;
}

.card h1.card-title,
.card h2.card-title,
.card h3.card-title,
.card h4.card-title,
.card h5.card-title,
.card h6.card-title {
    text-transform: capitalize !important;
    font-weight: 600 !important;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.list-project select, .list-language select {
    background: transparent;
    color: #fff;
}

.list-project, .list-language {
    padding: 15px;
}

.list-project select option, .list-language select option {
    background: #215259;
}

.card .card-header {
    padding: 10px;
    border-bottom: none;
    background-color: #146c80 !important;
    color: #fff;
    margin-bottom: 15px;
}

.navbar-nav {
    float: right;
}

.content-headers {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
}

.nav-link {
    color: #FFFFFF;
}

.white {
    color: #FFFFFF !important;
}

.inp-file {
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.modal-lg {
    max-width: 1500px !important;
}

.modal-md {
    max-width: 800px !important;
}

#w0,
#w1 {
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 10px;
}

#print-body .card .card-block {
    padding: 25px 5px !important;
}

#print-body .card-img-top {
    width: 75% !important;
}

/* .field-backfilling-check_points .check_boxes label, .field-backfilling-backfilling_type .check_boxes label {
    display: inline-block;
} */

/* .modal-dialog.modal-lg {
    z-index: 9999;
} */

.check_boxes label {
    display: block;
}

.geo-map-container,
.taxo-loc-picker-container {
    width: 765px;
    height: 600px;
}

.right {
    text-align: right;
}

#map_canvas {
    height: 100%;
    width: 97%;
    position: fixed !important;
}

.map-style {
    position: relative;
    padding: 10px 0;
}

form .form-group {
    margin-bottom: 0.5rem !important;
}

.card-body {
    padding: 15px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.menu-collapsed .list-project, .menu-collapsed .list-language {
    margin-left: -7px;
    display: inline-block;
}

.ui-widget-content {
    z-index: 2 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #146c80 !important;
    background: #1e8390 !important;
    font-weight: normal;
    color: #fff;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 0px 10px 0px !important;
}

#welding-line_type {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #146c80;
    border-color: #146c80;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #146c80;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

select.matrix-input {
    width: 100%;
}

.matrix-input {
    width: 100%;
    padding: 7px 2px;
}

.matrix-table th,
.matrix-table td {
    font-size: 10px;
}

/* this css is for generate clearance report PDF */

.table-appro {
    max-width: 1000px;
    border: 2px solid #000;
    margin: 40px auto;
}

.logo-appro {
    text-align: right;
    padding: 20px;
}

.appro-title h1 {
    text-align: center;
    font-size: 28px;
    color: #000;
    padding-bottom: 10px;
}

/* .appro-title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
} */

label {
    margin: 0 5px;
}

.br-div-tb {
    padding: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.detail-tabel-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    color: #000;
}
.trash-icon, .ex-icon {
    padding-right: 4px;
}
.selectiondetail-tabel {
    padding: 10px 20px;
    border-bottom: 2px solid #000;
}

.row.pro-loc-main {
    border-bottom: 2px solid #000;
    width: 55%;
    margin: 0 0 0 20px;
}

.project-name,
.location-name {
    width: 49%;
    display: inline-block;
    font-size: 16px;
    color: #000;
}

table.table.table-selectiondetail {
    border: 1px solid #000;
    margin: 10px 20px;
    width: 96%;
}

table.table.table-selectiondetail th,
table.table.table-selectiondetail td {
    border-color: #000;
}

table.table.table-selectiondetail th {
    text-align: center;
    font-size: 16px;
    color: #000;
}

table.table.table-selectiondetail th:nth-child(1),
table.table.table-selectiondetail td:nth-child(1) {
    border-right: 1px solid #000;
}

table.table.table-selectiondetail td {
    color: #000;
    font-size: 16px;
}

.performed-tabel-title {
    text-align: left;
    font-size: 20px;
    margin: 10px 0 20px 0;
    color: #000;
}

table.table.table-selectiondetail.performed th:nth-child(2),
table.table.table-selectiondetail.performed td:nth-child(2) {
    border-right: 1px solid #000;
    width: 29%;
}

table.table.table-selectiondetail.performed th:nth-child(3),
table.table.table-selectiondetail.performed td:nth-child(3) {
    width: 26%;
}

table.table.table-selectiondetail.performed {
    width: 80%;
    margin: 0 auto;
}

table.table.table-selectiondetail.performed th:nth-child(1),
table.table.table-selectiondetail.performed td:nth-child(1) {
    width: 45%;
}

.performed-tabel-text {
    text-align: left;
    font-size: 16px;
    margin: 40px 0 20px 0;
    color: #000;
}
#welding table{
    width: 1500px !important;
}
.long .table {
    width: 100%;
}

.grid-view {
    display: block;
    width: 100%;
    /* overflow-x: auto; */
}

.table-bordered {
    border-top: 1px solid #ddd !important;
}

.remark-div {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.br-line {
    /* border-top: 1px solid #000; */
    padding: 10px;
    border-bottom: 1px solid #000;
}

.detail-tabel-title.add-br {
    border-top: 2px solid #000;
    border-bottom: 0px solid #000;
    padding: 12px 0;
    margin-bottom: 0;
}

.all-br .br-line:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

table.table.table-selectiondetail.Authorisationto {
    width: 100%;
    margin: 0;
    border: 0;
}

table.table.table-selectiondetail.Authorisationto tr td {
    border: 2px solid #000;
    width: 24.33%;
    border-bottom: 0;
}

table.table.table-selectiondetail.Authorisationto tr td:nth-child(1) {
    border-left: 0;
}

table.table.table-selectiondetail.Authorisationto tr td:nth-child(4) {
    border-right: 0;
}

.table-appro {
    max-width: 1000px;
    border: 2px solid #000;
    margin: 40px auto;
}

.logo-appro {
    text-align: right;
    padding: 20px;
}

.appro-title h1 {
    text-align: center;
    font-size: 28px;
    color: #000;
    padding-bottom: 0;
    margin-top: 15px;
}

/* .appro-title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
} */

.br-div-tb {
    padding: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.detail-tabel-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    color: #000;
}

.selectiondetail-tabel {
    padding: 10px 20px;
    border-bottom: 2px solid #000;
}

#Pipe.none-side {
    overflow-x: hidden;
}

.long.land .table {
    width: 1400px;
}

.long.weld-long .table {
    width: 3500px;
}

.long.weld-long .table tr td input {
    width: 100% !important;
}

.long.weld-long .table tr td select {
    width: 150px !important;
    margin: 0 auto;
}

.row.pro-loc-main {
    border-bottom: 2px solid #000;
    width: 55%;
    margin: 0 0 0 20px;
}

.project-name,
.location-name {
    width: 49%;
    display: inline-block;
    font-size: 16px;
    color: #000;
}

table.table.table-selectiondetail {
    border: 1px solid #000;
    margin: 10px 20px;
    width: 96%;
}

table.table.table-selectiondetail th,
table.table.table-selectiondetail td {
    border-color: #000;
}

table.table.table-selectiondetail th {
    text-align: center;
    font-size: 16px;
    color: #000;
}

table.table.table-selectiondetail th:nth-child(1),
table.table.table-selectiondetail td:nth-child(1) {
    border-right: 1px solid #000;
}

table.table.table-selectiondetail td {
    color: #000;
    font-size: 16px;
}

.performed-tabel-title {
    text-align: left;
    font-size: 20px;
    margin: 10px 0 20px 0;
    color: #000;
}

table.table.table-selectiondetail.performed th:nth-child(2),
table.table.table-selectiondetail.performed td:nth-child(2) {
    border-right: 1px solid #000;
    width: 29%;
}

table.table.table-selectiondetail.performed th:nth-child(3),
table.table.table-selectiondetail.performed td:nth-child(3) {
    width: 26%;
}

table.table.table-selectiondetail.performed {
    width: 80%;
    margin: 0 auto;
}

table.table.table-selectiondetail.performed th:nth-child(1),
table.table.table-selectiondetail.performed td:nth-child(1) {
    width: 45%;
}

.performed-tabel-text {
    text-align: left;
    font-size: 16px;
    margin: 40px 0 20px 0;
    color: #000;
}

.remark-div {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.br-line {
    /* border-top: 1px solid #000; */
    padding: 10px;
    border-bottom: 1px solid #000;
}

.detail-tabel-title.add-br {
    border-top: 2px solid #000;
    border-bottom: 0px solid #000;
    padding: 12px 0;
    margin-bottom: 0;
}

.all-br .br-line:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

table.table.table-selectiondetail.Authorisationto {
    width: 100%;
    margin: 0;
    border: 0;
}

table.table.table-selectiondetail.Authorisationto tr td {
    border: 2px solid #000;
    width: 24.33%;
    border-bottom: 0;
}

table.table.table-selectiondetail.Authorisationto tr td:nth-child(1) {
    border-left: 0;
}

table.table.table-selectiondetail.Authorisationto tr td:nth-child(4) {
    border-right: 0;
}

.div-landowner {
    max-height: 1230px;
    overflow: auto;
}

.nav-vertical ul li {
    float: none;
}

.taxo-loc-picker {
    color: #1e8390;
    cursor: pointer;
}

.pac-container {
    z-index: 1111;
}

.map-picker-addon,
.map-picker-addon-single {
    cursor: pointer;
}

/* OVERALL SUMMARY REPORT css; */

.table-summary {
    /* max-width: 1000px; */
    border: 2px solid #002060;
    /* margin: 40px auto; */
    margin-top: 25px;
    /* margin-left: 25px; */
}

.table-summary .logo-appro {
    float: left;
    text-align: left;
}

.table-summary .logo-appro {
    float: left;
    text-align: left;
    width: 25%;
}

.table-summary .appro-title h1 {
    text-align: center;
    color: #002060;
    font-weight: bold;
    font-size: 24px;
}

.table-summary .appro-title {
    width: 75%;
    float: left;
    padding: 5px 170px 5px 5px;
}

.title-blueBG {
    background-color: #002060;
    padding: 12px;
}

.ntd-summary-left {
    width: 59%;
    display: inline-block;
    border-right: 1px solid #002060;
}

.ntd-summary-right {
    width: 40%;
    display: inline-block;
}

.ntd-summary-table table.table.table-selectiondetail.performed {
    width: 100%;
    margin: 0 auto;
    border: 0;
}

.ntd-summary-table table.table.table-selectiondetail.performed th,
.ntd-summary-table table.table.table-selectiondetail.performed td {
    color: #002060;
    border-color: #002060;
    text-align: center;
}

.ntd-table-title {
    text-align: center;
    color: #002060;
    font-weight: 500;
    text-decoration: underline;
    font-size: 18px;
    margin: 12px 5px;
}

.ntd-summary-table {
    border-top: 2px solid #002060;
}

.ntd-summary-table table.table.table-selectiondetail.performed td:nth-child(1) {
    border-bottom: 0;
    border-right: 1px solid #002060 !important;
    text-align: left;
}

.ntd-summary-table table.table.table-selectiondetail th:nth-child(1) {
    border-right: 1px solid #002060 !important;
}

.ntd-summary-table table.table.table-selectiondetail.performed th,
.ntd-summary-table table.table.table-selectiondetail.performed td {
    border-right: 1px solid #002060;
    width: 22%;
}

.ntd-summary-table table.table.table-selectiondetail.performed th:nth-child(1),
.ntd-summary-table table.table.table-selectiondetail.performed td:nth-child(1) {
    /* width: 35%; */
    width: 20%;
}

.ntd-summary-table table.table.table-selectiondetail.performed th:nth-child(2),
.ntd-summary-table table.table.table-selectiondetail.performed td:nth-child(2) {
    width: 22%;
}

.weekly-report-date-label {
    background: #002060;
    color: #fff !important;
    font-weight: 500;
}

.upto-text-date {
    text-decoration: none !important;
}

.upto-text,
.upto-text-date {
    text-align: center;
    color: #002060;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    margin: 12px 0;
    display: inline-block;
    width: 35%;
}

.right-data-box span {
    display: block;
    height: 100%;
    width: 100%;
    color: #002060;
    padding: 10px;
}

.ntd-summary-main {
    border-bottom: 1px solid #002060;
}

.ntd-summary-main.overall-table .ntd-summary-left {
    width: 50%;
    display: inline-block;
    border-right: 0px solid #002060;
}

.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr th,
.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr td {
    border: 0;
}

.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr th,
.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr td {
    width: auto;
    text-align: center;
}

.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr th:nth-child(1),
.ntd-summary-main.overall-table table.table.table-selectiondetail.performed tr td:nth-child(1) {
    font-weight: bold;
}

.ntd-summary-main.overall-table .ntd-summary-right {
    width: 49%;
    display: inline-block;
}

.summary-bottomtext {
    padding: 10px;
    font-size: 12px;
}

.summary-bottomtext span {
    font-weight: bold;
}

.landowner-loader {
    width: 100%;
    display: block;
}

.table-welder thead th {
    border-top: 2px solid #000 !important;
    border: 2px solid #000 !important;
}

.tr-first th {
    background: #b7dee8;
}

.tr-second th {
    background: #d9d9d9;
}

.tr-last td {
    font-weight: 500;
}

.custom-side-tab .active>a {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0 !important;
    border-right: #146c80 !important;
}

.custom-side-tab .nav-link:hover,
.custom-side-tab .nav-link:focus {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0 !important;
    background: #005669 !important;
    border-color: #068fad !important;
    color: #fff !important;
}

.font-bold {
    font-weight: bold;
}

.defect-type-border {
    border-top: 1px solid #002060;
    border-bottom: 1px solid #002060;
}

/* OVERALL SUMMARY REPORT css; */

/* end clearance report PDF */

/*********** web view of app for visual progress **************/

.visual-p-0 {
    padding: 0 !important;
}

.visual-w-100 {
    width: 100% !important;
}

.custom-visual-div {
    padding: 0 !important;
}

.legend-collap-in {
    position: relative;
    top: 65px;
    left: 10px;
}

.legend-collap-in button {
    border-radius: 2px;
}

button.legend-collap {
    margin-bottom: 0;
}

/*************************/

.spn-prj {
    display: inline-block;
    width: 100%;
    height: -webkit-calc(2.25rem + 2px);
    height: -moz-calc(2.25rem + 2px);
    height: calc(2.25rem + 2px);
    padding: 10px 40px;
    line-height: 1;
    color: #fff;
    vertical-align: middle;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
}

.wrapper.nav-collapsed.menu-collapsed div#listproject .list-project .spn-prj {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0;
}

.selected-part-list {
    max-height: 350px;
    overflow-y: auto;
}

.part-list-container {
    max-height: 400px;
    overflow-y: auto;
}

.sub-label-txt {
    white-space: break-spaces;
}

.wb-ndt-result span {
    display: block;
    margin-top: 5px;
}

.wb-ndt-result span small {
    margin-left: 5px;
}

@media only screen and (max-width: 991px) {
    .wrapper.nav-collapsed .main-panel .main-content .content-wrapper section#login {
        padding-left: -60px;
    }
    section#login.login-pedding {
        position: relative;
        left: -30px;
    }
}

@media only screen and (max-width: 480px) {
    .geo-map-container,
    .taxo-loc-picker-container {
        width: 470px !important;
        height: 500px;
    }
    .wrapper.nav-collapsed .main-panel .main-content .content-wrapper section#login {
        padding-left: -60px;
    }
    section#login.login-pedding {
        position: relative;
        left: -30px;
    }
    .login-pedding .card .card-block {
        padding: 0.5rem 0 1.5rem;
    }
    #legend {
        width: 60% !important;
    }
}

@page {
    size: landscape;
}